<!doctype html>
<html>
    <head>
            <title>Products</title>
            <link rel="stylesheet" type="text/css" href="./test.css">
            <script src="https://kit.fontawesome.com/888c19583a.js" crossorigin="anonymous"></script>
            <script src="js/script.js"></script>
    </head>
        
    <body>
        <div class="container">
            <div id="ok">
                <h1>PRODUCTS</h1>
            </div>
        </div>

                 <section>
                  
                 </section>
        <footer>
            <div class="container">
                <div id="ok">
                <a href = "/logout" text-align: center;><p>Log Out</p></a>
            </div>
        </div>
        </footer>
    </body>
</html>
